.btn {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.loginBtn {
  composes: btn;
  padding: var(--space-8, 0.5rem) var(--space-16, 1rem);
  border: 1px solid var(--clr-black, black);
  border-radius: var(--radius-x-large, 1.25rem);
}

.signupBtn,
.logoutBtn {
  composes: btn;
  background-color: var(--clr-black, black);
  color: var(--clr-white, white);
  padding: var(--space-8, 0.5rem) var(--space-16, 1rem);
  border: 1px solid var(--clr-black, black);
  border-radius: var(--radius-x-large, 1.25rem);
}

.startBtn {
  composes: btn;
  background-color: var(--clr-black, black);
  padding: var(--space-12) var(--space-24);
  color: var(--clr-white, white);
  border-radius: var(--radius-x-large, 1.25rem);
  margin-block-start: var(--space-16, 1rem);
  font-size: var(--fs-18);
  align-self: start;
  letter-spacing: 0.1em;
}

.btnCloseModal {
  composes: btn;
  color: var(--clr-black, black);
  border: none;
  background: none;
  position: absolute;
  top: var(--space-8, 0.5rem);
  right: var(--space-16, 1rem);
  transition:
    ease color,
    transform 0.3s;
  transform-origin: center;
  font-size: var(--fs-32, 2rem);
  padding-inline: var(--space-8, 0.5rem);
}

.btnCloseModal:hover {
  color: var(--clr-red, red);
  transform: scale(1.2);
}

.btnSignup,
.btnLogin {
  composes: btn;
  background-color: var(--clr-accent, teal);
  color: var(--clr-white, white);
  margin-block-start: var(--space-16, 1rem);
  padding: var(--space-12, 0.75rem) var(--space-16, 1rem);
  font-weight: var(--fw-bold, 700);
  width: 90%;
}

.publishBtn {
  composes: btn, btnSignup;
  justify-self: start;
  width: fit-content;
  border-radius: var(--radius-small, 0.3125rem);
}

.editBtn,
.saveBtn {
  composes: btn;
  background-color: var(--clr-accent, teal);
  color: var(--clr-white, white);
  padding: var(--space-4, 0.25rem) var(--space-8, 0.5rem);
  border-radius: var(--radius-small, 0.3125rem);
  font-weight: var(--fw-bold);
}

.deleteBtn,
.cancelBtn {
  composes: editBtn;
  background-color: var(--clr-accent-secondary, firebrick);
}

.dismissBtn {
  composes: editBtn;
  justify-self: end;
  background-color: var(--clr-accent-secondary, firebrick);
  font-weight: var(--fw-bold);
}
