.posts {
  display: grid;
  gap: var(--space-16);
  padding: var(--space-16);
}

.list {
  display: grid;
  gap: var(--space-32);
}

.post {
  border: 1px solid var(--clr-black);
  border-radius: var(--radius-small);
  padding: var(--space-16);
  display: grid;
  gap: var(--space-16);
}

.content {
  /* width: 200px; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* line-height: 16px; */
  /* max-height: 32px; For 2 lines */
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.detailsLink {
  background-color: var(--clr-accent);
  color: var(--clr-white);
  padding: var(--space-8) var(--space-16);
  justify-self: start;
  border-radius: var(--radius-small);
}

/* Loader animation */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  -webkit-mask: conic-gradient(from 15deg, #0000, #000);
  mask: conic-gradient(from 15deg, #0000, #000);
  animation: spinner 1s infinite steps(12);
}

.loader,
.loader:before,
.loader:after {
  background:
    radial-gradient(closest-side at 50% 12.5%, #f03355 96%, #0000) 50% 0/20% 80%
      repeat-y,
    radial-gradient(closest-side at 12.5% 50%, #f03355 96%, #0000) 0 50%/80% 20%
      repeat-x;
}

.loader:before,
.loader:after {
  content: '';
  grid-area: 1/1;
  transform: rotate(30deg);
}

.loader:after {
  transform: rotate(60deg);
}

@keyframes spinner {
  100% {
    transform: rotate(1turn);
  }
}
