.errorWrapper {
  border: 1px solid red;
  border-radius: var(--radius-small);
  padding: var(--space-16);
  display: grid;
  gap: var(--space-16);
}

.header {
  display: flex;
  align-items: center;
  gap: var(--space-16);
}

.titleWrapper {
  composes: header;
  gap: var(--space-8);
  font-size: var(--fs-20);
  font-weight: var(--fw-bold);
}
