.modal {
  /* Place dialog in the center of screen */
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  /* padding: var(--space-32, 2rem);
  padding-block-start: var(--space-48, 3rem); */
  background: var(--clr-white, white);
  width: var(--space-700, 43.75rem);
  max-width: var(--space-700, 43.75rem);
  border: 2px solid var(--clr-black, black);
  box-shadow: var(--shadow-1, rgba(0, 0, 0, 0.16) 0px 1px 4px);
  animation: fadeIn 1s ease both;
  padding: var(--space-32, 2rem) var(--space-48, 3rem);
  font-size: var(--fs-20, 1.25rem);
  
}

.modal::backdrop {
  animation: fadeIn 1s ease both;
  background: rgb(255 255 255 / 10%);
  backdrop-filter: blur(2px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


