.loaderWrapper {
  padding: var(--space-32, 2rem);
}

/* Loader animation */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  -webkit-mask: conic-gradient(from 15deg, #0000, #000);
  mask: conic-gradient(from 15deg, #0000, #000);
  animation: spinner 1s infinite steps(12);
}

.loader,
.loader:before,
.loader:after {
  background:
    radial-gradient(closest-side at 50% 12.5%, #f03355 96%, #0000) 50% 0/20% 80%
      repeat-y,
    radial-gradient(closest-side at 12.5% 50%, #f03355 96%, #0000) 0 50%/80% 20%
      repeat-x;
}

.loader:before,
.loader:after {
  content: '';
  grid-area: 1/1;
  transform: rotate(30deg);
}

.loader:after {
  transform: rotate(60deg);
}

@keyframes spinner {
  100% {
    transform: rotate(1turn);
  }
}

.errorWrapper {
  display: grid;
  gap: var(--space-16, 1rem);
}

.errorContent {
  font-size: var(--fs-18, 1.125rem);
}

.posts {
  display: grid;
  gap: var(--space-16, 1rem);
  padding: var(--space-16, 1rem);
}

.list {
  display: grid;
  gap: var(--space-32, 2rem);
}

.post {
  border: 1px solid var(--clr-black, black);
  border-radius: var(--radius-small, 0.3125rem);
  padding: var(--space-16, 1rem);
  display: grid;
  gap: var(--space-16, 1rem);
}

/* Limit content to 3 lines */
.content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 3; 
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.detailsLink,
.homeLink {
  background-color: var(--clr-accent, teal);
  color: var(--clr-white, white);
  padding: var(--space-8, 0.5rem) var(--space-16, 1rem);
  justify-self: start;
  border-radius: var(--radius-small, 0.3125rem);
}
