.navbar {
  flex: 1;
}
.navList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: var(--space-32, 2rem); */
}

.navItem {
  font-size: var(--fs-18);
}

.signUp {
  background-color: var(--clr-black, black);
  padding: var(--space-8, 0.5rem) var(--space-16, 1rem);
  color: var(--clr-white, white);
  border-radius: var(--radius-large, 1.25rem);
}


