.homepage {
  min-height: 100svh;
  background-color: var(--clr-gray-2, lightgray);
}

.homepageWrapper {
  padding: var(--space-16, 1rem) 0;
  max-width: 80%;
  min-height: 100svh;
  margin: auto;
  display: grid;
  gap: var(--space-16);
  grid-template-areas:
    'header  header'
    'sidebar  main'
    'footer  footer';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 200px 1fr;
}

.main {
  grid-area: main;
}
