/* TODO: Update Sidebar styles */
/* TODO: Add different styles to active links */
/* TODO: Add hover styles */
.sidebar {
  grid-area: sidebar;
  border-right: 1px solid var(--clr-black, black);
  padding: var(--space-16, 1rem);
}

.navbar {
  display: grid;
  gap: var(--space-64, 4rem);
}

.navList {
  display: grid;
  gap: var(--space-16, 1rem);
}

.navLink {
  display: flex;
  gap: var(--space-12, 0.75rem);
  align-items: center;
  font-size: var(--fs-18);
}
